/* FOOTER */
.site-footer {
    background: #f4f8ff;
    margin-top: 80px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 40px;
}

.footer-logo {
    height: 26px;
    margin-bottom: 10px;
}

.footer-col a{
    text-decoration: none;
    color: #333;
}

.footer-col h4 {
    font-size: 14px;
    margin-bottom: 14px;
}

.footer-col ul {
    margin-top: 20px;
    list-style: none;
    margin-top: 20px;
    width: 120px;
    padding: 0;
} 

.danh-muc-footer{
    list-style: none;
    padding: 0;
    border-top: 1px solid #e5eaf0;
}
.danh-muc-footer li a{
    font-size: 14px;
}
.footer-col ul.danh-muc-footer li{
    margin-top: 20px;
}
.footer-col ul.danh-muc-footer li a{
    text-decoration: none;
    color: #555;
}
.footer-col ul li {
    font-size: 13px;
    margin-bottom: 20px;
    color: #555;
}

.footer-bottom {
    border-top: 1px solid #e5eaf0;
    padding: 14px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.social a{
    text-decoration: none;
    color: #333;
    font-size: 24px;
}
